
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/*.image {*/
/*    width: 100%;*/
/*    display: block;*/
/*}*/

#app {
    margin: auto;
}

#user {
    float: right;
    border-bottom: none;
}

#logo {
    float: left;
    border-bottom: none;
    color: #409EFF;
    font-weight: bold;
    font-size: 18px;
}

#user > img {
    border: 1px solid #eee;
    border-radius: 100%;
    box-sizing: border-box;
    height: 38px;
    margin: 0 8px 0 8px;
    padding: 2px;
    width: 38px;
}


#main {
    margin-top: 1%;
    margin-left: 6%;
    margin-right: 6%;
    width: 88%;
    display: inline-block;
    /*height: -webkit-fill-available;*/
    height: available;
}

/*#main > .el-row {*/
/*    width: 80%;*/
/*    height: 100%;*/
/*}*/

#main > .el-col {
    width: 100%;
    margin-top: 20px;
}


.footer {
    width: 100%;
    border-top: solid 1px #e6e6e6;
    margin-top: 15%;
    text-align: center;
    /*bottom: 0;*/
}

.footer .footer-inner {
    margin-top: 10px;
    color: rgb(153, 153, 153);
    margin-bottom: 25px;
}

.footer .footer-inner .copyright {
    text-align: center;
    margin-bottom: 3px;
}

.footer .footer-inner label {
    margin-left: -15%;
}

.pagination {
    margin-top: 25px;
    margin-left: -3%;
}

.sort {
    margin-top: 30px;
    margin-left: -21px;
}

.waring {
    padding: 8px 16px;
    background-color: #fff6f7;
    border-radius: 4px;
    border-left: 5px solid #fe6c6f;
    /*border-left: 5px solid #96e6fa;*/
    margin: 20px 0;
}

.waring > div .el-form-item {
    margin-bottom: 0px;
}

.inputForm {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 30%;
}

.myCard {
    margin-top: 10px;
    margin-left: 7%;
}

.myCard .el-row .el-col > label {
    font-size: larger;
    font-family: Arial;
    color: #4062bb;
    margin-left: 10px;
}

.myCard #plane > img {
    height: 16px;
    width: 100%;
}

.myCard #upPlane > img {
    height: 23px;
    width: 80%;
}

.myCard #downPlane > img {
    height: 23px;
    width: 80%;
}

.dotLine {
    width: 100%;
    margin-bottom: 20%;
    border-bottom: #accef5 dashed 2px;
    text-align: center;
    font-size: larger;
    font-family: Arial;
    color: #5e87bb;
}

.splitLine {
    height: 10px;
    margin-right: 20%;
    border-bottom: #9fc0f8 2px solid;
}

.topInfo {
    margin-right: 20%;
    margin-top: 20px;
    border-bottom: #ecf4f8 1px solid;
}







