<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wyx.mapper.AirportMapper">
    <insert id="create" >
        insert into tb_airport (city_id, airport_name)
        values (#{cityId},#{airportName})
    </insert>

    <update id="setAirport" parameterType="cn.wyx.entity.Airport">
        update tb_airport
        set airport_name = #{airportName}
        where airport_id = #{airportId};
    </update>

    <select id="findAirportByCityName" parameterType="java.lang.String" resultType="cn.wyx.entity.Airport">
        select * from tb_airport
            right join tb_city on tb_airport.city_id = tb_city.city_id
        where city_name = #{cityName};
    </select>

    <select id="findAirportByAirportName" parameterType="java.lang.String" resultType="cn.wyx.entity.Airport">
        select * from tb_airport where airport_name = #{airportName};
    </select>

</mapper>