<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wyx.mapper.InfoOfFlightMapper">
    <!-- 航班机票查询结果类型 -->
    <resultMap type = "cn.wyx.entity.InfoOfFlight" id = "InfoOfFlightMap" >
        <!--执飞航班信息-->
        <id column="flight_id"  property = "flightId" />
        <result column="flights_id" property = "flightsId"/>
        <result column="flight_date" property = "date"/>
        <result column="model_name" property = "modelName"/>
        <result column="model_speed" property = "modelSpeed"/>
        <result column="flights_meals" property = "flightsMeals"/>
        <result column="airroute_length" property = "airrouteLength"/>
        <result column="airportUpName" property = "airportUpName"/>
        <result column="airportDownName" property = "airportDownName"/>
        <result column="cityStartName" property = "cityStartName"/>
        <result column="cityEndName" property = "cityEndName"/>
        <result column="pre_upTime" property = "preUpTime"/>
        <result column="pre_downTime" property = "preDownTime"/>
        <result column="plan_time" property = "planTime"/>
        <!--一个执飞航班信息对应多个售票信息 -->
        <collection property = "tickets" ofType = "cn.wyx.entity.InfoOfTickets">
            <id column="tickets_id"  property = "ticketsId" />
            <result column="space_id" property = "spaceId"/>
            <result column="space_Name" property = "spaceName"/>
            <result column="tickets_price" property = "ticketsPrice"/>
            <result column="tickets_nums" property = "ticketsNums"/>
            <result column="nums" property = "ticketsAllNums"/>
        </collection>
    </resultMap>

    <select id = "findByCityDate" resultMap="InfoOfFlightMap">
        select tf.flight_id,tf.flights_id,flight_date,model_name,model_speed,flights_meals,airroute_length,
               airportUpName,airportDownName,cityStartName,cityEndName,pre_upTime,pre_downTime,
               plan_time,tickets_id,ts.space_id,space_Name,tickets_price,tickets_nums,nums
        from v_airroute_airport_city left join tb_flights on v_airroute_airport_city.airroute_id = tb_flights.airroute_id
        left join tb_flight tf on tb_flights.flights_id = tf.flights_id
        left join tb_tickets tt on tf.flight_id = tt.flight_id
        left join tb_space ts on tt.space_id = ts.space_id
        left join tb_rule tr on ts.space_id = tr.space_id
        left join tb_mdsp tm on ts.space_id = tm.space_id
        right join tb_model t on tb_flights.model_id = t.model_id
        where cityStartName = #{cityStartName}
        and cityEndName = #{cityEndName}
        and flight_date = #{date}
    </select>

</mapper>