<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wyx.mapper.ModelMapper">

    <insert id="create" parameterType="cn.wyx.entity.Model">
        insert into tb_model (model_name, model_speed)
        values (#{modelName},#{modelSpeed});
    </insert>

    <update id="setModel" parameterType="cn.wyx.entity.Model">
        update tb_model
        <set>
            <if test="modelName != null and modelName !=''">
                model_name = #{model},
            </if>
            model_speed = #{modelSpeed}
        </set>
        where model_id = #{modelId};
    </update>

    <select id="findModel" resultType="cn.wyx.entity.Model">
        select * from tb_model
        <where>
            <if test="modelId != null">
                model_id = #{modelId}
            </if>
            <if test="modelName != null and modelName != ''">
                model_name = #{modelName}
            </if>
        </where>;
    </select>
</mapper>