<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wyx.mapper.PassengerMapper">

    <insert id="insertPassenger" parameterType = "cn.wyx.entity.Passenger">
        insert into tb_passenger (passenger_id, ticket_id, passenger_name, passenger_cerid, passenger_certype, passenger_tel, passenger_type)
        values (#{passengerId},#{ticketId},#{passengerName},#{passengerCerid},#{passengerCertype},#{passengerTel},#{passengerTyep});
    </insert>
</mapper>