<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wyx.mapper.RuleMapper">

    <insert id="create" parameterType="cn.wyx.entity.Rule">
        insert into tb_rule (space_id, rule_type, rule_refund, rule_change)
        values (#{spaceId},#{ruleType},#{ruleRefund},#{ruleChange});
    </insert>

    <update id="setRule" parameterType="cn.wyx.entity.Rule">
        update tb_rule
        <set>
            <if test="spaceId != null and spaceId! = ''">
                spa = #{spaceId},
            </if>
            <if test="ruleType != null and ruleType!=''">
                rule_type = #{ruleType},
            </if>
            tb_rule.rule_change = #{ruleChange},
            tb_rule.rule_refund = #{ruleRefund},
        </set>
        where rule_id = #{ruleId};
    </update>


    <select id="findBySpaceId" resultType="cn.wyx.entity.Rule">
        select * from tb_rule
        <where>
            <if test="spaceId != null and spaceId != ''">
                space_id = #{spaceId}
            </if>
            <if test="ruleType != null and ruleType !=''">
                rule_type = #{ruleType}
            </if>
        </where>
    </select>

</mapper>