<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wyx.mapper.UserPassMapper">

    <select id="findAllByUserId" resultType="cn.wyx.entity.UserPass" parameterType="java.lang.Long">
        select *
        from tb_userpass
        where user_id = #{userId};
    </select>

    <select id="findOneByUserPassId" parameterType="java.lang.Long" resultType="cn.wyx.entity.UserPass">
        select *
        from tb_userpass
        where userpass_id = #{userPassId};
    </select>


    <insert id="insert" parameterType="cn.wyx.entity.UserPass">
        insert into tb_userpass (user_id, userpass_name, userpass_cerid, userpass_certype, userpass_tel, userpass_type)
        values (#{userId}, #{userpassName}, #{userpassCerid},
                #{userpassCertype}, #{userpassTel}, #{userpassType});
    </insert>

    <update id="update" parameterType="cn.wyx.entity.UserPass">
        update tb_userpass
        <set>
            <if test="userpassName != null and userpassName != ''">
                userpass_name = #{userpassName},
            </if>
            <if test="userpassCerid != null and userpassCerid != ''">
                userpass_cerid = #{userpassCerid},
            </if>
            <if test="userpassCertype != null and userpassCertype != ''">
                userpass_certype = #{userpassCertype},
            </if>
            <if test="userpassTel != null and userpassTel != ''">
                userpass_tel = #{userpassTel},
            </if>
            <if test="userpassType != null and userpassType != ''">
                userpass_type = #{userpassType},
            </if>
        </set>
        where userpass_id = #{userpassId};
    </update>


    <delete id="delete" parameterType="java.lang.Long">
        delete from tb_userpass
        where userpass_id = #{userPassId};
    </delete>


</mapper>